.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://uploads-ssl.webflow.com/60021c8adbb9c33eb2f0a5f1/607de6c930b678b9171bed66_Main%202_1.gif'); /* Replace 'your-image-url.jpg' with the URL of your background image */
    background-size: cover;

  }
 .hama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register{
  max-width: 1000px; /* Adjust the width as needed */
  width: 100%;
  margin: auto;
  padding: 20px;
}

  